In [114]:
import pandas as pd

In [115]:
players=pd.read_csv("Progression.csv")
players.head()

   RecordID  PlayerID             Name  Year  Overall Position  Age
0         1         1       Paul Pogba  2020       88       CM   26
1         2         1       Paul Pogba  2019       88       CM   25
2         3         1       Paul Pogba  2018       88       CM   24
3         4         1       Paul Pogba  2017       86       CM   23
4         5         2  Marcus Rashford  2020       83       ST   21

### Player Turnover Score - Indicator of how long players stayed in the club

In [116]:
max(players.RecordID)/max(players.PlayerID)

3.814814814814815

In [117]:
x=players.groupby('PlayerID')
currentTeam=x.first()
currentTeam

          RecordID                       Name  Year  Overall Position  Age
PlayerID
1                1                 Paul Pogba  2020       88       CM   26
2                5            Marcus Rashford  2020       83       ST   21
3                9            Anthony Martial  2020       83       LW   23
4               15              Harry Maguire  2020       82       CB   26
5               16                  Juan Mata  2020       82      CAM   31
6               22              Jesse Lingard  2020       82      CAM   26
7               28              Nemanja Matic  2020       81      CDM   31
8               32                  Luke Shaw  2020       81       LB   24
9               39           Victor Lindelhof  2020       81       CB   25
10              43                Eric Bailly  2020       80       CB   25
11              48                 Phil Jones  2020       79       CB   27
12              57                       Fred  2020       79       CM   26
13              60          Aaron Wan-Bissaka  2020       79       RB   21
14              61                Marcos Rojo  2020       78       CB   29
15              68               Ashley Young  2020       77       RB   34
16              77            Scott McTominay  2020       77      CDM   22
17              80            Andreas Pereira  2020       77       CM   23
18              84                Diogo Dalot  2020       75       RB   20
19              87              Axel Tuanzebe  2020       73       CB   21
20              90        Timothy Fosu-Mensah  2020       73       RB   21
21              93               Daniel James  2020       72       LM   21
22              94                Angel Gomes  2020       68      CAM   19
23              97            Mason Greenwood  2020       67       CF   17
24              98  Cameron Borthwick-Jackson  2020       67       LB   22
25             100           Demetri Mitchell  2020       66       LB   22
26             101               Tahith Chong  2020       65       RW   19
27             103               James Garner  2020       63      CDM   18

### Average age of Team

In [118]:
players.loc[:,"Age"].mean()

23.281553398058254

In [119]:
df = (players.assign(Data_Value=players['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df

          Current  Start
PlayerID
1              88     86
2              83     77
3              83     69
4              82     82
5              82     87
6              82     63
7              81     84
8              81     73
9              81     78
10             80     77
11             79     76
12             79     80
13             79     79
14             78     76
15             77     85
16             77     63
17             77     69
18             75     68
19             73     67
20             73     71
21             72     72
22             68     63
23             67     67
24             67     70
25             66     66
26             65     65
27             63     63

In [120]:
df['Progress']=df['Current']-df['Start']
df

          Current  Start  Progress
PlayerID
1              88     86         2
2              83     77         6
3              83     69        14
4              82     82         0
5              82     87        -5
6              82     63        19
7              81     84        -3
8              81     73         8
9              81     78         3
10             80     77         3
11             79     76         3
12             79     80        -1
13             79     79         0
14             78     76         2
15             77     85        -8
16             77     63        14
17             77     69         8
18             75     68         7
19             73     67         6
20             73     71         2
21             72     72         0
22             68     63         5
23             67     67         0
24             67     70        -3
25             66     66         0
26             65     65         0
27             63     63         0

### Overall Player Progress Score

In [121]:
overallProg=sum(df.Progress)
overallProg

82

In [122]:
strikers=players.loc[(players['Position']=='ST')|(players['Position']=='LS')|(players['Position']=='RS')].copy()
strikers.head()

    RecordID  PlayerID             Name  Year  Overall Position  Age
4          5         2  Marcus Rashford  2020       83       ST   21
5          6         2  Marcus Rashford  2019       82       ST   20
7          8         2  Marcus Rashford  2017       77       ST   18
12        13         3  Anthony Martial  2016       79       ST   19
13        14         3  Anthony Martial  2015       69       ST   18

In [123]:
df = (strikers.assign(Data_Value=strikers['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df

          Current  Start
PlayerID
2              83     77
3              79     69

In [124]:
df['Progress']=df['Current']-df['Start']
df

          Current  Start  Progress
PlayerID
2              83     77         6
3              79     69        10

In [125]:
strikerProg=sum(df.Progress)
strikerProg

16

In [126]:
positionConsistentContribution=0

### Percentage Contribution of Strikers to Overall Progress

In [127]:
df = (strikers.assign(Data_Value=strikers['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Percentage Contribution = 5.125 %
Position Contribution   = 16  points

### Percentage Contribution of Forwards to Overall Progress

In [128]:
forwards=players.loc[(players['Position']=='CF')|(players['Position']=='RF')|(players['Position']=='LF')].copy()
df = (forwards.assign(Data_Value=forwards['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

No contribution

### Percentage Contribution of Attacking Wingers to Overall Progress

In [129]:
attWingers=players.loc[(players['Position']=='RW')|(players['Position']=='LW')].copy()
df = (attWingers.assign(Data_Value=attWingers['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Negative Contribution of  -1  points

### Percentage Contribution of Attacking Midfielders to Overall Progress

In [130]:
attmid=players.loc[(players['Position']=='CAM')|(players['Position']=='RAM')|(players['Position']=='LAM')].copy()
df = (attmid.assign(Data_Value=attmid['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Percentage Contribution = 4.315789473684211 %
Position Contribution   = 19  points

### Percentage Contribution of Midfield Wingers to Overall Progress

In [131]:
midWing=players.loc[(players['Position']=='LM')|(players['Position']=='RM')].copy()
df = (midWing.assign(Data_Value=midWing['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Negative Contribution of  -1  points

### Percentage Contribution of Center Defensive Midfielders to Overall Progress

In [132]:
defMid=players.loc[(players['Position']=='CDM')|(players['Position']=='RDM')|(players['Position']=='LDM')].copy()
df = (defMid.assign(Data_Value=defMid['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Negative Contribution of  -3  points

### Percentage Contribution of Wingbacks to Overall Progress

In [133]:
wingback=players.loc[(players['Position']=='LWB')|(players['Position']=='RWB')].copy()
df = (wingback.assign(Data_Value=wingback['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

No contribution

### Percentage Contribution of Fullbacks to Overall Progress

In [134]:
fullback=players.loc[(players['Position']=='LB')|(players['Position']=='RB')].copy()
df = (fullback.assign(Data_Value=fullback['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Percentage Contribution = 7.454545454545454 %
Position Contribution   = 11  points

### Percentage Contribution of CenterBacks to Overall Progress

In [135]:
cback=players.loc[(players['Position']=='RCB')|(players['Position']=='LCB')|(players['Position']=='CB')].copy()
df = (cback.assign(Data_Value=cback['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Percentage Contribution = 4.823529411764706 %
Position Contribution   = 17  points

### Percentage Contribution of Center Midfielders to Overall Progress

In [136]:
cenMid=players.loc[(players['Position']=='CM')|(players['Position']=='RCM')|(players['Position']=='LCM')].copy()
df = (cenMid.assign(Data_Value=cenMid['Overall'].abs())
       .groupby(['PlayerID'])['Overall'].agg([('Current' , 'first'), ('Start', 'last')]))
df['Progress']=df['Current']-df['Start']
prog=sum(df.Progress)
if prog != 0:
    if prog < 0:
        print("Negative Contribution of ",prog," points")
    else:
        contribution = overallProg/prog
        positionConsistentContribution=positionConsistentContribution+contribution
        print("Percentage Contribution =",contribution,"%")
        print("Position Contribution   =",prog," points")
else:
    contribution = 0
    print("No contribution")

Percentage Contribution = 9.11111111111111 %
Position Contribution   = 9  points

### Percentage of Contribution to Progression from Players in Consistent Positions

In [137]:
positionConsistentContribution

30.829975451105483

### Percentage of Contribution to Progression from Players Shifting Positions

In [138]:
100-positionConsistentContribution

69.17002454889452

## Higher percentage contributed from position shifting indicates progress is concentrated at the young player bracket, where positions fluctuate more regularly